.additional-block {
  margin-top: 40px;

  @media (min-width: 1366px) {
    margin-top: 135px;
    padding: 0 60px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__left-side {
    @media (min-width: 768px) {
      flex: 0 0 25%;
      margin-right: 20px;
    }

    @media (min-width: 1366px) {
      flex: 0 0 50%;
      margin-right: 40px;
    }
  }

  &__right-side {
    @media (min-width: 768px) {
      flex: 0 1 auto;
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text-top {
    margin-bottom: 15px;
    line-height: 110%;

    @media (min-width: 1366px) {
      margin-bottom: 50px;
    }
  }

  &__text-bottom {
    margin-bottom: 15px;
    line-height: 110%;

    @media (min-width: 1366px) {
      margin-bottom: 40px;
    }
  }
}
